<!--<h1 class="center">Liste des pokemons</h1>
        <input #input 
            (keyup.enter)="selectPokimon(input.value)" 
            type="number" class="form-control  width: 50px">
        <p *ngIf="pokemonSelected" style="color: rgb(58, 5, 108);">Vous avez selectionné {{ pokemonSelected?.name}}</p><!--s'il ya pokemonsselected afficher le msg
        <p *ngIf="!pokemonSelected" style="color: rgb(58, 5, 108);"> aucun pokemon n'a été trouvé</p>-->
<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo center">
            Pokémons
        </a>

    </div>
</nav>

<router-outlet></router-outlet><!--afficher dynamiquement le contenu de différentes routes.-->



